<div class="arrivals-container container-fluid"> 
    <div class="clock-container clock2">
        <div class="time sudo">{{date}}</div>
    </div>
    <div class="trainDiv" *ngFor="let train of trains">
        <div> {{train.heading}} </div>
        <div class="iconDiv">
            <span class="etaText"> {{train.etaStr}} </span>
            <span class="etaTime">Arriving at {{train.arrivalTime}}</span>
            <div class="trainPosition" *ngIf="train.percentage > 11" [ngStyle]="{'margin-left': train.percentage-2+'%'}">
                <mat-icon class="trainIcon">train</mat-icon>
            </div>
        </div>
        <mat-progress-bar [ngClass]="{
            'green-progress': train.line === 'green',
            'blue-progress': train.line === 'blue',
            'red-progress': train.line === 'red',
            'orange-progress': train.line === 'orange'
        }" mode="buffer" value={{train.percentage}}>
        </mat-progress-bar>
        <br>
    </div>
</div>


