.iconDiv {
  min-height: 24px;
}

.etaText{
  margin-bottom: -20px;
}
.etaTime{
  float:right;
}

.trainIcon{
  display: flex;
  position: sticky;
  z-index: 10;
}

// clock
.clock-container{
  font-size:35px;
  height:100%;
  font-weight: 500;
}
.clock, .clock2 {
  top:30%;
  width:50%;
  height:100%;
  margin:10px auto;
  padding:30px;
}
.clock div, .clock2 div {
  display:inline-block;
  // background-color: #202731;
  width:25%;
  height: 100%;
  text-align: center;
}

.time{
  width:100% !important;
  font-family: Orbitron !important;
}

.sudo {
  transition: transform .2s;
}

.sudo:hover {
  -ms-transform: scale(4.6);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}