@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();

// default light theme color configuration
$angular-primary: mat.define-palette(mat.$blue-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

// light theme
$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include mat.all-component-themes($angular-default-theme);

// dark theme
$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

// progress bars

.green-progress .mat-progress-bar-fill::after {
  background-color: green !important;
}

.red-progress .mat-progress-bar-fill::after {
  background-color: red !important;
}

.blue-progress .mat-progress-bar-fill::after {
  background-color: blue !important;
}

.orange-progress .mat-progress-bar-fill::after {
  background-color: orange !important;
}

.purple-progress .mat-progress-bar-fill::after {
  background-color: purple !important;
}

.pink-progress .mat-progress-bar-fill::after {
  background-color: pink !important;
}

.mat-progress-bar-buffer {
  background-color: black !important;
}

@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"), url(./assets/Orbitron-Regular.ttf) format("truetype");
}