<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style='padding-top: 10px' class="title-div">{{stationName}} Arrivals</div>
        </div>
    </div>
    <div class="cta-logo"></div>
    <br>
    <div class="row"></div>
    <div class ="row">
        <div class="col-md-12" *ngFor="let train of trains">
            <div class="row">
                <div class="col-md-4 rounded route {{train.line}}">
                    {{train.line}}
                </div>
                <div class="col-md-4 rounded">
                    <p> {{train.heading}}</p>
                </div>
                <div class="col-md-4 blink_me rounded">
                    <p> {{train.etaStr}}</p>
                </div>
            </div>    
        </div>
        <br>
    </div>
    <br>  
    
    <button mat-icon-button color="primary" aria-label="Refresh Train Data" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
</div>
