div{
    background-color:black;
    color: white;
}

.rounded{
    border-radius: 50px;
}

.route{
    text-align: center;
}

table {
    width: 100%;
}

.green {
    background-color: green;
    /* padding: 2px 30px 2px 30px */
}

.orange {
    background-color: orange;
    /* padding: 2px 30px 2px 30px */
}

.blink_me {
    animation: blinker 10s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.row {
    margin-top: 25px;
    box-shadow: 0 0 30px #353839;
    /* padding:0 15px 0 15px; */
    background-color:#353839;
}

.cta-logo{
   width:100 px;
   height:100 px;
   background-image: url('../../../assets/cta-logo.png');
   background-size: 100px 100px;
}