<div class="container">
    <h3>Roosevelt Arrivals</h3>
    <div class="row">
        
    </div>
    <div class ="row">
        <div class="col-md-12" *ngFor="let train of trains">
            <div class="row">
                <div class="col-md-4 trainLineColor">
                    <p class="col-md-6 {{trainColorMap.get(train.rt)}}">
                        {{trainColorMap.get(train.rt)}}
                    </p>
                </div>
                <div class="col-md-4">
                    <p> {{train.destNm}}</p>
                </div>
                <div class="col-md-4">
                    <p> {{train.arrT}}</p>
                </div>
            </div>    
        </div>
        <br>
    </div>

    <br>
    <div>
        TODO: figure out a good way to source the data ^ to the below table / with styling and some kind of transition
    </div>
    <br>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="line">
          <th mat-header-cell *matHeaderCellDef> Line </th>
          <td mat-cell *matCellDef="let element"> {{element.line}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="heading">
          <th mat-header-cell *matHeaderCellDef> Heading </th>
          <td mat-cell *matCellDef="let element"> {{element.heading}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="eta">
          <th mat-header-cell *matHeaderCellDef> ETA (Roosevelt) </th>
          <td mat-cell *matCellDef="let element"> {{element.eta}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
