body {
    background-image: url('../../../assets/cta-logo.png');
}

.title-div {
    font-family: 'Impact', fantasy;
    font-size:48px;
    text-align: center;
}

div{
    background-color:black;
    color: white;
}

.rounded{
    padding-top:5px;
    border-radius: 50px;
    text-align: center;
    font-size:16px;
    font-family: 'Impact', fantasy
}

.route{
    text-align: center;
}

table {
    width: 100%;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.blink_me {
    animation: blinker 10s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.row {
    margin-top: 25px;
    box-shadow: 0 0 30px #353839;
    background-color:#353839;
}